In [1]:
#import the necessary libraries
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.compose import ColumnTransformer, make_column_selector

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
from sklearn.pipeline import Pipeline

In [6]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [7]:
from sklearn.model_selection import train_test_split, cross_val_score

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
from sklearn.metrics import mean_squared_error

In [10]:
#load the given datasets
#dataset 1 for training the model
males_legacy = pd.read_csv("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data\\players_21.csv", na_values = '-')
males_legacy

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,103500000.0,560000.0,33,...,52+3,52+3,52+3,62+3,19+3,https://cdn.sofifa.net/players/158/023/21_120.png,https://cdn.sofifa.net/teams/241/60.png,https://cdn.sofifa.net/flags/es.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",92,92,63000000.0,220000.0,35,...,54+3,54+3,54+3,61+3,20+3,https://cdn.sofifa.net/players/020/801/21_120.png,https://cdn.sofifa.net/teams/45/60.png,https://cdn.sofifa.net/flags/it.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
2,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,91,91,111000000.0,240000.0,31,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/21_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/pl.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,132000000.0,270000.0,28,...,49+3,49+3,49+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/21_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CAM, CM",91,91,129000000.0,370000.0,29,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/21_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,257710,https://sofifa.com/player/257710/mengxuan-zhan...,Zhang Mengxuan,张梦炫,CB,47,52,70000.0,1000.0,21,...,47+2,47+2,47+2,45+2,15+2,https://cdn.sofifa.net/players/257/710/21_120.png,https://cdn.sofifa.net/teams/112165/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
18940,257933,https://sofifa.com/player/257933/wenzhuo-huang...,Huang Wenzhou,黄文卓,CM,47,53,70000.0,1000.0,21,...,46+2,46+2,46+2,47+2,15+2,https://cdn.sofifa.net/players/257/933/21_120.png,https://cdn.sofifa.net/teams/112540/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
18941,257936,https://sofifa.com/player/257936/yue-song/210002,Song Yue,宋岳,CM,47,47,45000.0,2000.0,28,...,46+1,46+1,46+1,47,11+2,https://cdn.sofifa.net/players/257/936/21_120.png,https://cdn.sofifa.net/teams/111774/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
18942,258736,https://sofifa.com/player/258736/vani-da-silva...,V. Da Silva,Ivanilson Loforte Tique Da Silva,ST,47,67,130000.0,500.0,17,...,26+2,26+2,26+2,33+2,14+2,https://cdn.sofifa.net/players/258/736/21_120.png,https://cdn.sofifa.net/teams/1920/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png
18943,258760,https://sofifa.com/player/258760/ben-hough/210002,B. Hough,Ben Hough,CM,47,67,130000.0,500.0,17,...,41+2,41+2,41+2,43+2,14+2,https://cdn.sofifa.net/players/258/760/21_120.png,https://cdn.sofifa.net/teams/1920/60.png,https://cdn.sofifa.net/flags/gb-eng.png,NaN,https://cdn.sofifa.net/flags/gb-eng.png

In [11]:
males_legacy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Columns: 110 entries, sofifa_id to nation_flag_url
dtypes: float64(16), int64(44), object(50)
memory usage: 15.9+ MB

In [12]:
males_legacy.describe()

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
count,18944.000000,18944.000000,18944.000000,1.870700e+04,18719.000000,18944.000000,18944.000000,18944.000000,18719.000000,18719.000000,...,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,2083.000000
mean,226232.328917,65.677787,71.086729,2.902288e+06,9148.482825,25.225823,181.190773,75.016892,47908.905551,1.355468,...,57.978674,46.470017,47.581767,45.546505,16.446052,16.236486,16.103357,16.225982,16.551309,37.203553
std,27166.574284,7.002278,6.109985,7.743775e+06,19893.149956,4.697354,6.825672,7.057140,53906.733776,0.739015,...,12.118390,20.169591,21.402461,20.953997,17.577332,16.845480,16.519399,17.017341,17.878121,10.714523
min,41.000000,47.000000,47.000000,9.000000e+03,500.000000,16.000000,155.000000,50.000000,1.000000,1.000000,...,12.000000,3.000000,5.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,12.000000
25%,210028.750000,61.000000,67.000000,4.750000e+05,1000.000000,21.000000,176.000000,70.000000,461.000000,1.000000,...,50.000000,29.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000,28.000000
50%,232301.500000,66.000000,71.000000,9.750000e+05,3000.000000,25.000000,181.000000,75.000000,1913.000000,1.000000,...,59.000000,52.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000,37.000000
75%,246745.750000,70.000000,75.000000,2.000000e+06,8000.000000,29.000000,186.000000,80.000000,110986.000000,1.000000,...,66.000000,63.000000,65.000000,63.000000,14.000000,14.000000,14.000000,14.000000,14.000000,45.000000
max,258970.000000,93.000000,95.000000,1.855000e+08,560000.000000,53.000000,206.000000,110.000000,114899.000000,4.000000,...,96.000000,94.000000,93.000000,90.000000,90.000000,92.000000,93.000000,91.000000,90.000000,65.000000

In [13]:
print(males_legacy.columns)

Index(['sofifa_id', 'player_url', 'short_name', 'long_name',
       'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur',
       'age',
       ...
       'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url', 'club_logo_url',
       'club_flag_url', 'nation_logo_url', 'nation_flag_url'],
      dtype='object', length=110)

In [14]:
males_legacy.shape

(18944, 110)

In [15]:
# Drop unnecessary columns
columns_to_drop = ['nation_logo_url','club_flag_url', 'club_logo_url','player_url', 'player_face_url', 'nation_flag_url']  
males_legacy.drop(columns=columns_to_drop, axis=1, inplace=True)
males_legacy

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,103500000.0,560000.0,33,1987-06-24,...,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",92,92,63000000.0,220000.0,35,1985-02-05,...,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3,20+3
2,188545,R. Lewandowski,Robert Lewandowski,ST,91,91,111000000.0,240000.0,31,1988-08-21,...,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
3,190871,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,132000000.0,270000.0,28,1992-02-05,...,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3,20+3
4,192985,K. De Bruyne,Kevin De Bruyne,"CAM, CM",91,91,129000000.0,370000.0,29,1991-06-28,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,257710,Zhang Mengxuan,张梦炫,CB,47,52,70000.0,1000.0,21,1999-04-26,...,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2,15+2
18940,257933,Huang Wenzhou,黄文卓,CM,47,53,70000.0,1000.0,21,1999-01-07,...,48+2,48+2,48+2,47+2,47+2,46+2,46+2,46+2,47+2,15+2
18941,257936,Song Yue,宋岳,CM,47,47,45000.0,2000.0,28,1991-11-20,...,47,47,47,47,47,46+1,46+1,46+1,47,11+2
18942,258736,V. Da Silva,Ivanilson Loforte Tique Da Silva,ST,47,67,130000.0,500.0,17,2003-03-30,...,32+2,32+2,32+2,35+2,33+2,26+2,26+2,26+2,33+2,14+2
18943,258760,B. Hough,Ben Hough,CM,47,67,130000.0,500.0,17,2003-06-22,...,43+2,43+2,43+2,44+2,43+2,41+2,41+2,41+2,43+2,14+2

In [16]:
# males_legacy_df = pd.DataFrame(males_legacy, columns = ['overall', 'height

In [17]:
males_legacy.iloc[100:500, :]

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
100,146536,Jesús Navas,Jesús Navas González,"RB, RM",84,84,15500000.0,43000.0,34,1985-11-21,...,79+2,79+2,79+2,82+2,82+2,75+2,75+2,75+2,82+2,18+2
101,163587,K. Schmeichel,Kasper Peter Schmeichel,GK,84,84,13500000.0,90000.0,33,1986-11-05,...,36+2,36+2,36+2,32+2,31+2,30+2,30+2,30+2,31+2,82+2
102,168435,S. Sirigu,Salvatore Sirigu,GK,84,84,13500000.0,54000.0,33,1987-01-12,...,28+3,28+3,28+3,26+3,26+3,27+3,27+3,27+3,26+3,82+2
103,176266,Lucas Leiva,Lucas Pezzini Leiva,CDM,84,84,21000000.0,83000.0,33,1987-01-09,...,82+2,82+2,82+2,77+3,78+3,79+3,79+3,79+3,78+3,16+3
104,177413,A. Witsel,Axel Witsel,"CDM, CM",84,84,29500000.0,79000.0,31,1989-01-12,...,83+1,83+1,83+1,79+3,79+3,82+2,82+2,82+2,79+3,15+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,245299,J. Frendado,Jaime Nicolás Frendado,"CB, CDM",80,80,NaN,NaN,36,1984-02-29,...,73+2,73+2,73+2,69+2,72+2,80,80,80,72+2,23+2
496,245300,M. Baldona,Matías David Baldona,"CDM, CM",80,80,NaN,NaN,36,1984-02-29,...,79+1,79+1,79+1,78+2,77+2,76+2,76+2,76+2,77+2,18+2
497,245304,S. Ardero,Saúl Marcelo Ardero,"CAM, LM, LW",80,80,NaN,NaN,32,1988-02-29,...,54+2,54+2,54+2,57+2,52+2,39+2,39+2,39+2,52+2,18+2
498,245305,L. Dálves,Luis Roberto Dálves,"ST, CF",80,80,NaN,NaN,28,1992-02-29,...,51+2,51+2,51+2,53+2,51+2,51+2,51+2,51+2,51+2,22+2
499,245308,M. Nérez,Mauro Evidio Nérez,"LB, LM",80,80,NaN,NaN,32,1988-02-29,...,77+2,77+2,77+2,79+1,78+2,75+2,75+2,75+2,78+2,19+2

In [18]:
threshold = 0.4
L = []
L_more = []
for col in males_legacy.columns:
    if males_legacy[col].isnull().sum() < threshold * len(males_legacy):
        L.append(col)
    else:
        L_more.append(col)

In [19]:
males_legacy = males_legacy[L]
males_legacy

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,103500000.0,560000.0,33,1987-06-24,...,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3
1,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",92,92,63000000.0,220000.0,35,1985-02-05,...,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3,20+3
2,188545,R. Lewandowski,Robert Lewandowski,ST,91,91,111000000.0,240000.0,31,1988-08-21,...,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
3,190871,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,132000000.0,270000.0,28,1992-02-05,...,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3,20+3
4,192985,K. De Bruyne,Kevin De Bruyne,"CAM, CM",91,91,129000000.0,370000.0,29,1991-06-28,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,257710,Zhang Mengxuan,张梦炫,CB,47,52,70000.0,1000.0,21,1999-04-26,...,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2,15+2
18940,257933,Huang Wenzhou,黄文卓,CM,47,53,70000.0,1000.0,21,1999-01-07,...,48+2,48+2,48+2,47+2,47+2,46+2,46+2,46+2,47+2,15+2
18941,257936,Song Yue,宋岳,CM,47,47,45000.0,2000.0,28,1991-11-20,...,47,47,47,47,47,46+1,46+1,46+1,47,11+2
18942,258736,V. Da Silva,Ivanilson Loforte Tique Da Silva,ST,47,67,130000.0,500.0,17,2003-03-30,...,32+2,32+2,32+2,35+2,33+2,26+2,26+2,26+2,33+2,14+2
18943,258760,B. Hough,Ben Hough,CM,47,67,130000.0,500.0,17,2003-06-22,...,43+2,43+2,43+2,44+2,43+2,41+2,41+2,41+2,43+2,14+2

In [20]:
#separate numeric and non-numeric features
numeric_data = males_legacy.select_dtypes(include = np.number)
non_numeric = males_legacy.select_dtypes(include = ['object'])
#multivariate imputation
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter = 10, random_state = 0)
#impute data, transform, round it off and put to dataframe
numeric_data = pd.DataFrame(np.round(imp.fit_transform(numeric_data)), columns = numeric_data.columns)
numeric_data #holds all values without missing values

C:\Users\user\anaconda3\Lib\site-packages\sklearn\impute\_iterative.py:785: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,mentality_penalties,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,158023.0,93.0,93.0,103500000.0,560000.0,33.0,170.0,72.0,241.0,1.0,...,75.0,96.0,32.0,35.0,24.0,6.0,11.0,15.0,14.0,8.0
1,20801.0,92.0,92.0,63000000.0,220000.0,35.0,187.0,83.0,45.0,1.0,...,84.0,95.0,28.0,32.0,24.0,7.0,11.0,15.0,14.0,11.0
2,188545.0,91.0,91.0,111000000.0,240000.0,31.0,184.0,80.0,21.0,1.0,...,88.0,88.0,35.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
3,190871.0,91.0,91.0,132000000.0,270000.0,28.0,175.0,68.0,73.0,1.0,...,92.0,93.0,35.0,30.0,29.0,9.0,9.0,15.0,15.0,11.0
4,192985.0,91.0,91.0,129000000.0,370000.0,29.0,181.0,70.0,10.0,1.0,...,84.0,91.0,68.0,65.0,53.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,257710.0,47.0,52.0,70000.0,1000.0,21.0,177.0,70.0,112165.0,1.0,...,35.0,40.0,45.0,56.0,47.0,12.0,13.0,8.0,14.0,6.0
18940,257933.0,47.0,53.0,70000.0,1000.0,21.0,174.0,68.0,112540.0,1.0,...,35.0,35.0,43.0,42.0,53.0,8.0,8.0,13.0,14.0,10.0
18941,257936.0,47.0,47.0,45000.0,2000.0,28.0,185.0,79.0,111774.0,1.0,...,36.0,35.0,38.0,43.0,45.0,8.0,5.0,11.0,5.0,7.0
18942,258736.0,47.0,67.0,130000.0,500.0,17.0,171.0,58.0,1920.0,4.0,...,50.0,45.0,18.0,11.0,13.0,11.0,13.0,9.0,9.0,6.0
18943,258760.0,47.0,67.0,130000.0,500.0,17.0,175.0,65.0,1920.0,4.0,...,36.0,38.0,32.0,44.0,40.0,12.0,10.0,9.0,6.0,8.0

In [21]:
#males_legacy['dribblin'].isnull().sum()

In [22]:
#deal with non numeric data
non_numeric_columns = ['short_name', 'long_name', 'player_positions',
    'club_name', 'league_name', 'club_position', 
    'nationality_name', 'preferred_foot', 'work_rate','real_face']
# y = non_numeric[non_numeric_columns]
non_numeric = males_legacy[non_numeric_columns]
males_legacy = males_legacy.drop(columns = non_numeric_columns)

In [23]:
# One-hot encode the remaining non-numeric data
non_numeric = pd.get_dummies(non_numeric, drop_first=True).astype(int)
non_numeric

,short_name_A. Abdellaoui,short_name_A. Abdi,short_name_A. Abdu,short_name_A. Abdugheni,short_name_A. Abdullah,short_name_A. Abedzadeh,short_name_A. Abeid,short_name_A. Ablet,short_name_A. Abqar,short_name_A. Abrahamsson,...,preferred_foot_Right,work_rate_High/Low,work_rate_High/Medium,work_rate_Low/High,work_rate_Low/Low,work_rate_Low/Medium,work_rate_Medium/High,work_rate_Medium/Low,work_rate_Medium/Medium,real_face_Yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
18940,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
18941,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
18942,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
18943,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [24]:
Xtrain = pd.concat([numeric_data, non_numeric], axis = 1)
Xtrain

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,preferred_foot_Right,work_rate_High/Low,work_rate_High/Medium,work_rate_Low/High,work_rate_Low/Low,work_rate_Low/Medium,work_rate_Medium/High,work_rate_Medium/Low,work_rate_Medium/Medium,real_face_Yes
0,158023.0,93.0,93.0,103500000.0,560000.0,33.0,170.0,72.0,241.0,1.0,...,0,0,0,0,0,0,0,1,0,1
1,20801.0,92.0,92.0,63000000.0,220000.0,35.0,187.0,83.0,45.0,1.0,...,1,1,0,0,0,0,0,0,0,1
2,188545.0,91.0,91.0,111000000.0,240000.0,31.0,184.0,80.0,21.0,1.0,...,1,0,1,0,0,0,0,0,0,1
3,190871.0,91.0,91.0,132000000.0,270000.0,28.0,175.0,68.0,73.0,1.0,...,1,0,1,0,0,0,0,0,0,1
4,192985.0,91.0,91.0,129000000.0,370000.0,29.0,181.0,70.0,10.0,1.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,257710.0,47.0,52.0,70000.0,1000.0,21.0,177.0,70.0,112165.0,1.0,...,1,0,0,0,1,0,0,0,0,0
18940,257933.0,47.0,53.0,70000.0,1000.0,21.0,174.0,68.0,112540.0,1.0,...,1,0,0,0,1,0,0,0,0,0
18941,257936.0,47.0,47.0,45000.0,2000.0,28.0,185.0,79.0,111774.0,1.0,...,1,0,0,0,1,0,0,0,0,0
18942,258736.0,47.0,67.0,130000.0,500.0,17.0,171.0,58.0,1920.0,4.0,...,1,0,0,0,0,0,0,0,1,0
18943,258760.0,47.0,67.0,130000.0,500.0,17.0,175.0,65.0,1920.0,4.0,...,1,0,0,0,0,0,0,0,1,0

In [25]:
Xtrain.shape

(18944, 38415)

In [26]:
all_columns = numeric_data.shape[1] + non_numeric.shape[1]  
print("Expected: ", all_columns)
print("Actual: ", Xtrain.shape[1])

Expected:  38415
Actual:  38415

In [27]:
all_columns = numeric_data.columns.tolist() + non_numeric.columns.tolist()

In [28]:
df_Xtrain = pd.DataFrame(Xtrain, columns = all_columns)
df_Xtrain

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,preferred_foot_Right,work_rate_High/Low,work_rate_High/Medium,work_rate_Low/High,work_rate_Low/Low,work_rate_Low/Medium,work_rate_Medium/High,work_rate_Medium/Low,work_rate_Medium/Medium,real_face_Yes
0,158023.0,93.0,93.0,103500000.0,560000.0,33.0,170.0,72.0,241.0,1.0,...,0,0,0,0,0,0,0,1,0,1
1,20801.0,92.0,92.0,63000000.0,220000.0,35.0,187.0,83.0,45.0,1.0,...,1,1,0,0,0,0,0,0,0,1
2,188545.0,91.0,91.0,111000000.0,240000.0,31.0,184.0,80.0,21.0,1.0,...,1,0,1,0,0,0,0,0,0,1
3,190871.0,91.0,91.0,132000000.0,270000.0,28.0,175.0,68.0,73.0,1.0,...,1,0,1,0,0,0,0,0,0,1
4,192985.0,91.0,91.0,129000000.0,370000.0,29.0,181.0,70.0,10.0,1.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,257710.0,47.0,52.0,70000.0,1000.0,21.0,177.0,70.0,112165.0,1.0,...,1,0,0,0,1,0,0,0,0,0
18940,257933.0,47.0,53.0,70000.0,1000.0,21.0,174.0,68.0,112540.0,1.0,...,1,0,0,0,1,0,0,0,0,0
18941,257936.0,47.0,47.0,45000.0,2000.0,28.0,185.0,79.0,111774.0,1.0,...,1,0,0,0,1,0,0,0,0,0
18942,258736.0,47.0,67.0,130000.0,500.0,17.0,171.0,58.0,1920.0,4.0,...,1,0,0,0,0,0,0,0,1,0
18943,258760.0,47.0,67.0,130000.0,500.0,17.0,175.0,65.0,1920.0,4.0,...,1,0,0,0,0,0,0,0,1,0

In [29]:
#define variables
X_train = Xtrain.drop(columns = ['overall'])
Ytrain = males_legacy['overall']

In [30]:
#scale x
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(Xtrain)
X_train

array([[-2.51084765,  3.90200649,  3.58656347, ...,  4.44400479,
        -1.05515035,  2.7602073 ],
       [-7.56211472,  3.75919205,  3.42289263, ..., -0.22502226,
        -1.05515035,  2.7602073 ],
       [-1.38730498,  3.61637762,  3.25922178, ..., -0.22502226,
        -1.05515035,  2.7602073 ],
       ...,
       [ 1.16704107, -2.66745769, -3.94229527, ..., -0.22502226,
        -1.05515035, -0.36229163],
       [ 1.1964898 , -2.66745769, -0.66887843, ..., -0.22502226,
         0.94773224, -0.36229163],
       [ 1.19737326, -2.66745769, -0.66887843, ..., -0.22502226,
         0.94773224, -0.36229163]])

In [31]:
# X_test1 = Xtrain.drop(columns = ['overall'])
# Ytest1 = pmales_legacy['overall']

In [32]:
all_columns = numeric_data.columns.tolist() + non_numeric.columns.tolist()

In [33]:
correlations = {}
for col in all_columns:
    correlations[col] = np.corrcoef(X_train[:, all_columns.index(col)], Ytrain)[0, 1]

In [34]:
#convert to dataframe
correlation_df = pd.DataFrame(list(correlations.items()), columns = ['feature', 'correlation with dependent']).sort_values(by = 'correlation with dependent', ascending = False)
correlation_df

                       feature  correlation with dependent
1                      overall                    1.000000
36          movement_reactions                    0.867234
48         mentality_composure                    0.705252
2                    potential                    0.636366
16          release_clause_eur                    0.629776
...                        ...                         ...
8                 club_team_id                   -0.207613
9                 league_level                   -0.218279
38413  work_rate_Medium/Medium                   -0.225105
38236        club_position_RES                   -0.331084
0                    sofifa_id                   -0.486575

[38415 rows x 2 columns]

In [35]:
best_features = correlation_df['feature'].head(10).tolist()
best_features

['overall',
 'movement_reactions',
 'mentality_composure',
 'potential',
 'release_clause_eur',
 'wage_eur',
 'value_eur',
 'power_shot_power',
 'passing',
 'mentality_vision']

In [36]:
#select the corresponding columns from the data for training
best_X_train = X_train[:, [all_columns.index(feature) for feature in best_features]]
best_X_train

array([[ 3.90200649,  3.55443758,  3.1375727 , ...,  2.11902561,
         2.7384536 ,  3.00004659],
       [ 3.75919205,  3.66417438,  3.05505131, ...,  2.7191631 ,
         2.00085761,  2.05278087],
       [ 3.61637762,  3.44470079,  2.47740157, ...,  2.34407717,
         1.77957881,  1.83418109],
       ...,
       [-2.66745769, -1.93240217, -1.89623213, ..., -0.65661025,
        -0.35944956, -0.71614968],
       [-2.66745769, -0.94477101, -1.07101823, ..., -0.58159306,
        -1.02328595, -0.35181671],
       [-2.66745769, -1.1642446 , -1.64866796, ..., -0.73162744,
        -0.43320916, -0.4975499 ]])

In [37]:
from sklearn.ensemble import RandomForestRegressor
import pickle as pkl

In [38]:
#training first model with cross validation
randomforest = RandomForestRegressor(n_estimators = 100, random_state = 42)
pkl.dump(randomforest, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + randomforest.__class__.__name__ + '.pkl', 'wb'))
cv_scores = cross_val_score(randomforest, best_X_train, Ytrain, cv = 5, scoring = 'neg_mean_squared_error')
cv_rmse = np.sqrt(-cv_scores)
print("Cross validation RMSE: " , cv_rmse)
print("Mean cross validation RMSE: ", cv_rmse.mean())

#train model on the data
randomforest.fit(best_X_train, Ytrain)
# y_pred = randomforest.predict(X_test)
    # print(f"{model.__class__.__name__} RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}")
    # print(f"{model.__class__.__name__} R2: {r2_score(y_test, y_pred)}").....testing phase

Cross validation RMSE:  [5.00553929 1.54060036 0.7802998  1.2204815  5.13957768]
Mean cross validation RMSE:  2.737299724370757

RandomForestRegressor(random_state=42)

In [39]:

from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.tree import DecisionTreeRegressor

In [40]:
#training second model
decisiontree = DecisionTreeRegressor()
pkl.dump(decisiontree, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + decisiontree.__class__.__name__ + '.pkl', 'wb'))
#perform a 7-fold cross validation
cv_scores = cross_val_score(decisiontree, best_X_train, Ytrain, cv = 5, scoring = 'neg_mean_squared_error')
cv_rmse = np.sqrt(-cv_scores)
print("Cross validation RMSE: " , cv_rmse)
print("Mean cross validation RMSE: ", cv_rmse.mean())


#train model on the data
decisiontree.fit(best_X_train, Ytrain)

Cross validation RMSE:  [5.00553929 1.54060036 0.7802998  1.2204815  5.13957768]
Mean cross validation RMSE:  2.737299724370757

DecisionTreeRegressor()

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
#training the third model
linearregression = LinearRegression()
pkl.dump(linearregression, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + linearregression.__class__.__name__ + '.pkl', 'wb'))
#perform a 7-fold cross validation
cv_scores = cross_val_score(linearregression, best_X_train, Ytrain, cv = 5, scoring = 'neg_mean_squared_error')
cv_rmse = np.sqrt(-cv_scores)
print("Cross validation RMSE: " , cv_rmse)
print("Mean cross validation RMSE: ", cv_rmse.mean())


#train model on the data
linearregression.fit(best_X_train, Ytrain)

Cross validation RMSE:  [9.51530321e-14 2.68578339e-14 1.71238850e-13 2.40325669e-13
 3.11407150e-14]
Mean cross validation RMSE:  1.1294322009735116e-13

LinearRegression()

In [43]:
from sklearn.ensemble import  GradientBoostingRegressor

In [44]:
gradient_boosting =  GradientBoostingRegressor(n_estimators = 100, random_state = 42)
pkl.dump(gradient_boosting, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + gradient_boosting.__class__.__name__ + '.pkl', 'wb'))
cv_scores = cross_val_score(gradient_boosting, best_X_train, Ytrain, cv = 5, scoring = 'neg_mean_squared_error')
cv_rmse = np.sqrt(-cv_scores)
print("Cross validation RMSE: " , cv_rmse)
print("Mean cross validation RMSE: ", cv_rmse.mean())

#train model on the data
gradient_boosting.fit(best_X_train, Ytrain)

Cross validation RMSE:  [5.00713626 1.54059282 0.78027173 1.22041986 5.14007652]
Mean cross validation RMSE:  2.7376994387373785

GradientBoostingRegressor(random_state=42)

In [45]:
from sklearn.ensemble import VotingRegressor

In [46]:
voting = VotingRegressor(estimators=[('lr', linearregression),('gb', gradient_boosting),('rf', randomforest), ('dt', decisiontree)])
pkl.dump(voting, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + voting.__class__.__name__ + '.pkl', 'wb'))
cv_scores = cross_val_score(voting, best_X_train, Ytrain, cv = 5, scoring = 'neg_mean_squared_error')
cv_rmse = np.sqrt(-cv_scores)
print("Cross-validation RMSE: " , cv_rmse)
print("Mean cross validation RMSE: ", cv_rmse.mean())


voting.fit(best_X_train, Ytrain)

Cross-validation RMSE:  [3.75455367 1.15544838 0.58521783 0.91534571 3.85480797]
Mean cross validation RMSE:  2.0530747127168483

VotingRegressor(estimators=[('lr', LinearRegression()),
                            ('gb', GradientBoostingRegressor(random_state=42)),
                            ('rf', RandomForestRegressor(random_state=42)),
                            ('dt', DecisionTreeRegressor())])

In [47]:
from sklearn.ensemble import AdaBoostRegressor

In [48]:
ada=AdaBoostRegressor(estimator=decisiontree,n_estimators=100)
pkl.dump(ada, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + ada.__class__.__name__ + '.pkl', 'wb'))
cv_scores = cross_val_score(ada, best_X_train, Ytrain, cv = 5, scoring = 'neg_mean_squared_error')
cv_rmse = np.sqrt(-cv_scores)
print("Cross-validation RMSE: " , cv_rmse)
print("Mean cross validation RMSE: ", cv_rmse.mean())


ada.fit(best_X_train, Ytrain)

Cross-validation RMSE:  [5.00553929 1.54060036 0.7802998  1.2204815  5.13957768]
Mean cross validation RMSE:  2.737299724370757

AdaBoostRegressor(estimator=DecisionTreeRegressor(), n_estimators=100)

In [49]:
#gridsearch with cross validation and tuning to choose best model
from sklearn.model_selection import GridSearchCV, KFold

In [50]:
rf = RandomForestRegressor()

PARAMETERS_gb ={
"max_depth":[2,5,7],
"min_samples_leaf":[1,4,7],
"min_samples_split":[1,4,7],
# "learning_rate":[0.3, 0.1, 0.03],
"n_estimators":[100,300,500]}
cv=KFold(n_splits=3)
model_gs=GridSearchCV(rf,param_grid=PARAMETERS_gb,cv=cv,scoring="neg_mean_squared_error", n_jobs=-1, verbose = 2)
model_gs.fit(best_X_train, Ytrain)
pkl.dump(model_gs, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + model_gs.__class__.__name__ + '.pkl', 'wb'))

Fitting 3 folds for each of 81 candidates, totalling 243 fits

C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
81 fits failed out of a total of 243.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
81 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\ensemble\_forest.py", line 340, in fit
    self._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of RandomForestRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [         nan          nan          nan -45.63176634 -45.59291704
 -45.63159575 -45.64213632 -45.63949047 -45.63333754          nan
          nan          nan -45.68706551 -45.65236122 -45.61797354
 -45.64192287 -45.64499107 -45.60236072          nan          nan
          nan -45.5929758  -45.6283781  -45.61152677 -45.59829316
 -45.59107938 -45.61745815          nan          nan          nan
 -24.9038444  -24.9038444  -24.9038444  -24.9038444  -24.9038444
 -24.9038444           nan          nan          nan -24.9038444
 -24.9038444  -24.9038444  -24.9038444  -24.9038444  -24.9038444
          nan          nan          nan -24.9038444  -24.9038444
 -24.9038444  -24.9038444  -24.9038444  -24.9038444           nan
          nan          nan -24.9038444  -24.9038444  -24.9038444
 -24.9038444  -24.9038444  -24.9038444           nan          nan
          nan -24.9038444  -24.9038444  -24.9038444  -24.9038444
 -24.9038444  -24.9038444           nan          nan          nan
 -24.9038444  -24.9038444  -24.9038444  -24.9038444  -24.9038444
 -24.9038444 ]
  warnings.warn(

In [51]:
model_gs.best_params_

{'max_depth': 5,
 'min_samples_leaf': 1,
 'min_samples_split': 4,
 'n_estimators': 100}

In [52]:
model_gs.best_score_

-24.90384439794671

In [53]:
gb = GradientBoostingRegressor()

PARAMETERS_gb ={
"max_depth":[2,5,7],
"min_samples_leaf":[1,4,7],
"min_samples_split":[1,4,7],
# "learning_rate":[0.3, 0.1, 0.03],
"n_estimators":[100,300,500]}
cv=KFold(n_splits=3)
model_gs=GridSearchCV(gb,param_grid=PARAMETERS_gb,cv=cv,scoring="neg_mean_squared_error", n_jobs=-1, verbose = 2)
model_gs.fit(best_X_train, Ytrain)
pkl.dump(model_gs, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + model_gs.__class__.__name__ + '.pkl', 'wb'))

Fitting 3 folds for each of 81 candidates, totalling 243 fits

C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
81 fits failed out of a total of 243.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
81 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\ensemble\_gb.py", line 420, in fit
    self._validate_params()
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of GradientBoostingRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [         nan          nan          nan -24.9702327  -24.90377621
 -24.90384013 -24.9702327  -24.90377621 -24.90384013          nan
          nan          nan -24.98074569 -24.90516655 -24.90428404
 -24.98074569 -24.90516655 -24.90428404          nan          nan
          nan -25.00146373 -24.90967601 -24.90670422 -25.00146373
 -24.90967601 -24.90670422          nan          nan          nan
 -24.90486883 -24.90384485 -24.90384485 -24.90486883 -24.90384485
 -24.90384485          nan          nan          nan -24.90702601
 -24.90406972 -24.90387766 -24.90702601 -24.90406972 -24.90387766
          nan          nan          nan -24.90969736 -24.90549181
 -24.90425823 -24.90969736 -24.90549181 -24.90425823          nan
          nan          nan -24.90486883 -24.90384486 -24.90384486
 -24.90486883 -24.90384486 -24.90384486          nan          nan
          nan -24.90550002 -24.90395599 -24.90385203 -24.90544464
 -24.90393395 -24.90385216          nan          nan          nan
 -24.90667297 -24.9044899  -24.90413679 -24.90647122 -24.90449264
 -24.90410295]
  warnings.warn(

In [54]:
model_gs.best_params_

{'max_depth': 2,
 'min_samples_leaf': 1,
 'min_samples_split': 7,
 'n_estimators': 300}

In [55]:
model_gs.best_score_

-24.90377621136302

In [56]:
#dataset 2 for testing the model
players_22 = pd.read_csv("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data\\players_22.csv", na_values = '-')
players_22

C:\Users\user\AppData\Local\Temp\ipykernel_17196\176176037.py:2: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players_22 = pd.read_csv("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data\\players_22.csv", na_values = '-')

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,https://sofifa.com/player/261962/defu-song/220002,Song Defu,宋德福,CDM,47,52,70000.0,1000.0,22,...,46+2,46+2,46+2,48+2,15+2,https://cdn.sofifa.net/players/261/962/22_120.png,https://cdn.sofifa.net/teams/112541/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
19235,262040,https://sofifa.com/player/262040/caoimhin-port...,C. Porter,Caoimhin Porter,CM,47,59,110000.0,500.0,19,...,44+2,44+2,44+2,48+2,14+2,https://cdn.sofifa.net/players/262/040/22_120.png,https://cdn.sofifa.net/teams/445/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19236,262760,https://sofifa.com/player/262760/nathan-logue/...,N. Logue,Nathan Logue-Cunningham,CM,47,55,100000.0,500.0,21,...,45+2,45+2,45+2,47+2,12+2,https://cdn.sofifa.net/players/262/760/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19237,262820,https://sofifa.com/player/262820/luke-rudden/2...,L. Rudden,Luke Rudden,ST,47,60,110000.0,500.0,19,...,26+2,26+2,26+2,32+2,15+2,https://cdn.sofifa.net/players/262/820/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19238,264540,https://sofifa.com/player/264540/emanuel-lalch...,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,...,41+2,41+2,41+2,45+2,16+2,https://cdn.sofifa.net/players/264/540/22_120.png,https://cdn.sofifa.net/teams/113040/60.png,https://cdn.sofifa.net/flags/in.png,NaN,https://cdn.sofifa.net/flags/in.png

In [57]:
players_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Columns: 110 entries, sofifa_id to nation_flag_url
dtypes: float64(16), int64(44), object(50)
memory usage: 16.1+ MB

In [58]:
players_22.describe()

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed
count,19239.000000,19239.000000,19239.000000,1.916500e+04,19178.000000,19239.000000,19239.000000,19239.000000,19178.000000,19178.000000,...,19239.000000,19239.000000,19239.000000,19239.000000,19239.000000,19239.000000,19239.000000,19239.000000,19239.000000,2132.000000
mean,231468.086959,65.772182,71.079370,2.850452e+06,9017.989363,25.210822,181.299704,74.943032,50580.498123,1.354364,...,57.929830,46.601746,48.045584,45.906700,16.406102,16.192474,16.055356,16.229274,16.491814,36.439962
std,27039.717497,6.880232,6.086213,7.613700e+06,19470.176724,4.748235,6.863179,7.069434,54401.868535,0.747865,...,12.159326,20.200807,21.232718,20.755683,17.574028,16.839528,16.564554,17.059779,17.884833,10.751563
min,41.000000,47.000000,49.000000,9.000000e+03,500.000000,16.000000,155.000000,49.000000,1.000000,1.000000,...,12.000000,4.000000,5.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,15.000000
25%,214413.500000,61.000000,67.000000,4.750000e+05,1000.000000,21.000000,176.000000,70.000000,479.000000,1.000000,...,50.000000,29.000000,28.000000,25.000000,8.000000,8.000000,8.000000,8.000000,8.000000,27.000000
50%,236543.000000,66.000000,71.000000,9.750000e+05,3000.000000,25.000000,181.000000,75.000000,1938.000000,1.000000,...,59.000000,52.000000,56.000000,53.000000,11.000000,11.000000,11.000000,11.000000,11.000000,36.000000
75%,253532.500000,70.000000,75.000000,2.000000e+06,8000.000000,29.000000,186.000000,80.000000,111139.000000,1.000000,...,66.000000,63.000000,65.000000,63.000000,14.000000,14.000000,14.000000,14.000000,14.000000,45.000000
max,264640.000000,93.000000,95.000000,1.940000e+08,350000.000000,54.000000,206.000000,110.000000,115820.000000,5.000000,...,96.000000,93.000000,93.000000,92.000000,91.000000,92.000000,93.000000,92.000000,90.000000,65.000000

In [59]:
print(players_22.columns)

Index(['sofifa_id', 'player_url', 'short_name', 'long_name',
       'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur',
       'age',
       ...
       'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url', 'club_logo_url',
       'club_flag_url', 'nation_logo_url', 'nation_flag_url'],
      dtype='object', length=110)

In [60]:
players_22.shape

(19239, 110)

In [61]:
# Drop unnecessary columns
columns_to_drop2 = ['nation_logo_url','club_flag_url', 'club_logo_url','player_url', 'player_face_url', 'nation_flag_url']  
players_22.drop(columns=columns_to_drop2, axis=1, inplace=True)
players_22

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,1987-06-24,...,64+3,64+3,64+3,66+3,61+3,50+3,50+3,50+3,61+3,19+3
1,188545,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,1988-08-21,...,66+3,66+3,66+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
2,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,1985-02-05,...,59+3,59+3,59+3,63+3,60+3,53+3,53+3,53+3,60+3,20+3
3,190871,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,1992-02-05,...,63+3,63+3,63+3,67+3,62+3,50+3,50+3,50+3,62+3,20+3
4,192985,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,1991-06-28,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,Song Defu,宋德福,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,46+2,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2
19235,262040,C. Porter,Caoimhin Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,46+2,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2
19236,262760,N. Logue,Nathan Logue-Cunningham,CM,47,55,100000.0,500.0,21,2000-02-07,...,46+2,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2
19237,262820,L. Rudden,Luke Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,29+2,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2
19238,264540,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,44+2,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2

In [62]:
players_22.iloc[100:500, :]

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
100,175943,D. Mertens,Dries Mertens,"CF, ST, CAM",84,84,20500000.0,105000.0,34,1987-05-06,...,59+3,59+3,59+3,63+3,58+3,46+3,46+3,46+3,58+3,16+3
101,181291,G. Wijnaldum,Georginio Wijnaldum,"CM, CDM",84,84,40500000.0,115000.0,30,1990-11-11,...,82+2,82+2,82+2,81+3,80+3,79+3,79+3,79+3,80+3,19+3
102,183711,J. Henderson,Jordan Henderson,"CDM, CM",84,84,29500000.0,140000.0,31,1990-06-17,...,82+2,82+2,82+2,80+3,79+3,79+3,79+3,79+3,79+3,19+3
103,184134,Fernando,Fernando Francisco Reges,"CDM, CM",84,84,21000000.0,43000.0,33,1987-07-25,...,83+1,83+1,83+1,78+2,79+2,82+2,82+2,82+2,79+2,14+2
104,186345,K. Trippier,Kieran Trippier,"RB, RWB, RM",84,84,36500000.0,74000.0,30,1990-09-19,...,80+2,80+2,80+2,81+2,81+2,78+2,78+2,78+2,81+2,19+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,236583,J. Pavlenka,Jiří Pavlenka,GK,80,82,17500000.0,14000.0,29,1992-04-14,...,24+2,24+2,24+2,23+2,23+2,24+2,24+2,24+2,23+2,78+2
496,236987,B. Kamara,Boubacar Bernard Kamara,"CDM, CB",80,86,31000000.0,30000.0,21,1999-11-23,...,79+2,79+2,79+2,76+2,77+2,78+2,78+2,78+2,77+2,16+2
497,237238,S. McTominay,Scott McTominay,"CDM, CM",80,84,27500000.0,90000.0,24,1996-12-08,...,79+2,79+2,79+2,76+2,76+2,79+2,79+2,79+2,76+2,17+2
498,237383,A. Bastoni,Alessandro Bastoni,CB,80,89,44500000.0,77000.0,22,1999-04-13,...,77+2,77+2,77+2,76+2,77+2,80+2,80+2,80+2,77+2,17+2
499,238794,Vinícius Jr.,Vinícius José Paixão de Oliveira Júnior,LW,80,90,46500000.0,120000.0,20,2000-07-12,...,54+2,54+2,54+2,59+2,54+2,44+2,44+2,44+2,54+2,15+2

In [63]:
threshold = 0.4
L1 = []
L1_more = []
for col in players_22.columns:
    if players_22[col].isnull().sum() < threshold * len(players_22):
        L1.append(col)
    else:
        L1_more.append(col)

In [64]:
players_22= players_22[L1]
players_22

,sofifa_id,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,1987-06-24,...,64+3,64+3,64+3,66+3,61+3,50+3,50+3,50+3,61+3,19+3
1,188545,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,1988-08-21,...,66+3,66+3,66+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
2,20801,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,1985-02-05,...,59+3,59+3,59+3,63+3,60+3,53+3,53+3,53+3,60+3,20+3
3,190871,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,1992-02-05,...,63+3,63+3,63+3,67+3,62+3,50+3,50+3,50+3,62+3,20+3
4,192985,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,1991-06-28,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,Song Defu,宋德福,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,46+2,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2
19235,262040,C. Porter,Caoimhin Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,46+2,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2
19236,262760,N. Logue,Nathan Logue-Cunningham,CM,47,55,100000.0,500.0,21,2000-02-07,...,46+2,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2
19237,262820,L. Rudden,Luke Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,29+2,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2
19238,264540,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,44+2,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2

In [65]:
#separate numeric and non-numeric features
numeric_data1 = players_22.select_dtypes(include = np.number)
non_numeric1 = players_22.select_dtypes(include = ['object'])
#multivariate imputation
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter = 10, random_state = 0)
#impute data, transform, round it off and put to dataframe
numeric_data1 = pd.DataFrame(np.round(imp.fit_transform(numeric_data1)), columns = numeric_data1.columns)
numeric_data1 #holds all values without missing values

C:\Users\user\anaconda3\Lib\site-packages\sklearn\impute\_iterative.py:785: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,mentality_penalties,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,158023.0,93.0,93.0,78000000.0,320000.0,34.0,170.0,72.0,73.0,1.0,...,75.0,96.0,20.0,35.0,24.0,6.0,11.0,15.0,14.0,8.0
1,188545.0,92.0,92.0,119500000.0,270000.0,32.0,185.0,81.0,21.0,1.0,...,90.0,88.0,35.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
2,20801.0,91.0,91.0,45000000.0,270000.0,36.0,187.0,83.0,11.0,1.0,...,88.0,95.0,24.0,32.0,24.0,7.0,11.0,15.0,14.0,11.0
3,190871.0,91.0,91.0,129000000.0,270000.0,29.0,175.0,68.0,73.0,1.0,...,93.0,93.0,35.0,32.0,29.0,9.0,9.0,15.0,15.0,11.0
4,192985.0,91.0,91.0,125500000.0,350000.0,30.0,181.0,70.0,10.0,1.0,...,83.0,89.0,68.0,65.0,53.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962.0,47.0,52.0,70000.0,1000.0,22.0,180.0,64.0,112541.0,1.0,...,42.0,37.0,38.0,43.0,48.0,6.0,10.0,5.0,15.0,13.0
19235,262040.0,47.0,59.0,110000.0,500.0,19.0,175.0,70.0,445.0,1.0,...,44.0,47.0,37.0,44.0,47.0,11.0,12.0,6.0,8.0,10.0
19236,262760.0,47.0,55.0,100000.0,500.0,21.0,178.0,72.0,111131.0,1.0,...,39.0,36.0,38.0,44.0,48.0,8.0,6.0,7.0,10.0,6.0
19237,262820.0,47.0,60.0,110000.0,500.0,19.0,173.0,66.0,111131.0,1.0,...,49.0,47.0,10.0,14.0,11.0,7.0,10.0,7.0,14.0,15.0
19238,264540.0,47.0,60.0,110000.0,500.0,19.0,167.0,61.0,113040.0,1.0,...,35.0,36.0,33.0,31.0,37.0,8.0,13.0,13.0,9.0,14.0

In [66]:
#players_22['dribblin'].isnull().sum()

In [67]:
#deal with non-numeric data
non_numeric_columns1 = ['short_name', 'long_name', 'player_positions',
    'club_name', 'league_name', 'club_position', 
    'nationality_name', 'preferred_foot', 'work_rate','real_face']
# y = non_numeric[non_numeric_columns]
non_numeric1 = players_22[non_numeric_columns1]
players_22 = players_22.drop(columns = non_numeric_columns1)

In [68]:
# One-hot encode the remaining non-numeric data
non_numeric1 = pd.get_dummies(non_numeric1, drop_first=True).astype(int)
non_numeric1

,short_name_A. Abaz,short_name_A. Abdallah,short_name_A. Abdellaoui,short_name_A. Abdi,short_name_A. Abdijanovic,short_name_A. Abdugheni,short_name_A. Abedzadeh,short_name_A. Abeid,short_name_A. Abibi,short_name_A. Ablet,...,preferred_foot_Right,work_rate_High/Low,work_rate_High/Medium,work_rate_Low/High,work_rate_Low/Low,work_rate_Low/Medium,work_rate_Medium/High,work_rate_Medium/Low,work_rate_Medium/Medium,real_face_Yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
19235,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
19236,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
19237,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
19238,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [69]:
Xtest = pd.concat([numeric_data1, non_numeric1], axis = 1)
Xtest

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,preferred_foot_Right,work_rate_High/Low,work_rate_High/Medium,work_rate_Low/High,work_rate_Low/Low,work_rate_Low/Medium,work_rate_Medium/High,work_rate_Medium/Low,work_rate_Medium/Medium,real_face_Yes
0,158023.0,93.0,93.0,78000000.0,320000.0,34.0,170.0,72.0,73.0,1.0,...,0,0,0,0,0,0,0,1,0,1
1,188545.0,92.0,92.0,119500000.0,270000.0,32.0,185.0,81.0,21.0,1.0,...,1,0,1,0,0,0,0,0,0,1
2,20801.0,91.0,91.0,45000000.0,270000.0,36.0,187.0,83.0,11.0,1.0,...,1,1,0,0,0,0,0,0,0,1
3,190871.0,91.0,91.0,129000000.0,270000.0,29.0,175.0,68.0,73.0,1.0,...,1,0,1,0,0,0,0,0,0,1
4,192985.0,91.0,91.0,125500000.0,350000.0,30.0,181.0,70.0,10.0,1.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962.0,47.0,52.0,70000.0,1000.0,22.0,180.0,64.0,112541.0,1.0,...,1,0,0,0,0,0,0,0,1,0
19235,262040.0,47.0,59.0,110000.0,500.0,19.0,175.0,70.0,445.0,1.0,...,1,0,0,0,0,0,0,0,1,0
19236,262760.0,47.0,55.0,100000.0,500.0,21.0,178.0,72.0,111131.0,1.0,...,1,0,0,0,0,0,0,0,1,0
19237,262820.0,47.0,60.0,110000.0,500.0,19.0,173.0,66.0,111131.0,1.0,...,1,0,0,0,0,0,0,0,1,0
19238,264540.0,47.0,60.0,110000.0,500.0,19.0,167.0,61.0,113040.0,1.0,...,1,0,0,0,0,0,0,0,1,0

In [70]:
Xtest.shape

(19239, 39046)

In [71]:
all_columns1 = numeric_data1.shape[1] + non_numeric1.shape[1]  #subtract 1 for the overall column
print("Expected: ", all_columns1)
print("Actual: ", Xtest.shape[1])

Expected:  39046
Actual:  39046

In [72]:
all_columns1 = numeric_data1.columns.tolist() + non_numeric1.columns.tolist()

In [73]:
df_Xtest = pd.DataFrame(Xtest, columns = all_columns1)
df_Xtest

,sofifa_id,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,...,preferred_foot_Right,work_rate_High/Low,work_rate_High/Medium,work_rate_Low/High,work_rate_Low/Low,work_rate_Low/Medium,work_rate_Medium/High,work_rate_Medium/Low,work_rate_Medium/Medium,real_face_Yes
0,158023.0,93.0,93.0,78000000.0,320000.0,34.0,170.0,72.0,73.0,1.0,...,0,0,0,0,0,0,0,1,0,1
1,188545.0,92.0,92.0,119500000.0,270000.0,32.0,185.0,81.0,21.0,1.0,...,1,0,1,0,0,0,0,0,0,1
2,20801.0,91.0,91.0,45000000.0,270000.0,36.0,187.0,83.0,11.0,1.0,...,1,1,0,0,0,0,0,0,0,1
3,190871.0,91.0,91.0,129000000.0,270000.0,29.0,175.0,68.0,73.0,1.0,...,1,0,1,0,0,0,0,0,0,1
4,192985.0,91.0,91.0,125500000.0,350000.0,30.0,181.0,70.0,10.0,1.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962.0,47.0,52.0,70000.0,1000.0,22.0,180.0,64.0,112541.0,1.0,...,1,0,0,0,0,0,0,0,1,0
19235,262040.0,47.0,59.0,110000.0,500.0,19.0,175.0,70.0,445.0,1.0,...,1,0,0,0,0,0,0,0,1,0
19236,262760.0,47.0,55.0,100000.0,500.0,21.0,178.0,72.0,111131.0,1.0,...,1,0,0,0,0,0,0,0,1,0
19237,262820.0,47.0,60.0,110000.0,500.0,19.0,173.0,66.0,111131.0,1.0,...,1,0,0,0,0,0,0,0,1,0
19238,264540.0,47.0,60.0,110000.0,500.0,19.0,167.0,61.0,113040.0,1.0,...,1,0,0,0,0,0,0,0,1,0

In [74]:
#define variables
X_test = Xtest.drop(columns = ['overall'])
Ytest = players_22['overall']

In [75]:
#scale x
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_test = scaler.fit_transform(Xtest)
X_test

array([[-2.71626343,  3.95750145,  3.60177985, ...,  4.76989013,
        -1.04199547,  2.76879328],
       [-1.58745011,  3.81215372,  3.43746979, ..., -0.20964843,
        -1.04199547,  2.76879328],
       [-7.79122645,  3.666806  ,  3.27315974, ..., -0.20964843,
        -1.04199547,  2.76879328],
       ...,
       [ 1.15728747, -2.72849386, -2.64200212, ..., -0.20964843,
         0.95969707, -0.36116817],
       [ 1.15950649, -2.72849386, -1.82045186, ..., -0.20964843,
         0.95969707, -0.36116817],
       [ 1.22311827, -2.72849386, -1.82045186, ..., -0.20964843,
         0.95969707, -0.36116817]])

In [76]:
all_columns1 = numeric_data1.columns.tolist() + non_numeric1.columns.tolist()

In [77]:
correlations1 = {}
for col in all_columns1:
    correlations1[col] = np.corrcoef(X_test[:, all_columns1.index(col)], Ytest)[0, 1]

In [78]:
#convert to dataframe
correlation_df1 = pd.DataFrame(list(correlations1.items()), columns = ['features', 'correlation with dependent variable']).sort_values(by = 'correlation with dependent variable', ascending = False)
correlation_df1

                      features  correlation with dependent variable
1                      overall                             1.000000
36          movement_reactions                             0.871823
48         mentality_composure                             0.708867
2                    potential                             0.644275
4                     wage_eur                             0.601735
...                        ...                                  ...
38948   nationality_name_India                            -0.189739
8                 club_team_id                            -0.227012
39044  work_rate_Medium/Medium                            -0.228235
38866        club_position_RES                            -0.339250
0                    sofifa_id                            -0.491523

[39046 rows x 2 columns]

In [79]:
best_features1 = correlation_df1['features'].head(25).tolist()
best_features1

['overall',
 'movement_reactions',
 'mentality_composure',
 'potential',
 'wage_eur',
 'power_shot_power',
 'value_eur',
 'release_clause_eur',
 'passing',
 'mentality_vision',
 'attacking_short_passing',
 'skill_long_passing',
 'physic',
 'international_reputation',
 'skill_ball_control',
 'age',
 'dribbling',
 'real_face_Yes',
 'skill_curve',
 'shooting',
 'power_long_shots',
 'attacking_crossing',
 'mentality_aggression',
 'power_stamina',
 'skill_dribbling']

In [80]:
#select the features with that show maximum correlation from the data for testing to an array
best_X_test1 = X_test[:, [all_columns1.index(feature) for feature in best_features]]
best_X_test1

array([[ 3.95750145,  3.5998463 ,  3.13102536, ...,  2.13943257,
         2.67139943,  3.00622837],
       [ 3.81215372,  3.48925187,  2.47307708, ...,  2.44264937,
         1.81028719,  1.98059683],
       [ 3.666806  ,  3.5998463 ,  3.04878183, ...,  2.74586617,
         1.88204654,  1.61429986],
       ...,
       [-2.72849386, -1.70868662, -1.80358675, ..., -0.58951861,
        -0.62953083, -0.58348201],
       [-2.72849386, -1.48749775, -0.89890786, ..., -0.74112701,
        -1.27536502, -1.02303839],
       [-2.72849386, -0.82393113, -1.80358675, ..., -0.58951861,
        -0.62953083, -0.58348201]])

In [89]:
#testing the models
y_pred = randomforest.predict(best_X_test1)
pkl.dump(randomforest, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + randomforest.__class__.__name__ + '.pkl', 'wb'))

In [90]:

print(f"""Mean Absolute Error = {mean_absolute_error(y_pred, Ytest)},
        Mean Squared Error = {mean_squared_error(y_pred, Ytest)}
        Root Mean Squared Error = {np.sqrt(mean_squared_error(y_pred, Ytest))},
        R2 score = {r2_score(y_pred, Ytest)}"""
)

Mean Absolute Error = 0.0002718436509174098,
        Mean Squared Error = 0.00013122823431571293
        Root Mean Squared Error = 0.011455489265662682,
        R2 score = 0.9999972277236873

In [91]:
y_pred = decisiontree.predict(best_X_test1)
pkl.dump(decisiontree, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + decisiontree.__class__.__name__ + '.pkl', 'wb'))

In [92]:
print(f"""Mean Absolute Error = {mean_absolute_error(y_pred, Ytest)},
        Mean Squared Error = {mean_squared_error(y_pred, Ytest)}
        Root Mean Squared Error = {np.sqrt(mean_squared_error(y_pred, Ytest))},
        R2 score = {r2_score(y_pred, Ytest)}"""
)

Mean Absolute Error = 0.0001559332605644784,
        Mean Squared Error = 0.0001559332605644784
        Root Mean Squared Error = 0.012487323995335366,
        R2 score = 0.9999967055666614

In [93]:
y_pred = linearregression.predict(best_X_test1)

In [94]:
print(f"""Mean Absolute Error = {mean_absolute_error(y_pred, Ytest)},
        Mean Squared Error = {mean_squared_error(y_pred, Ytest)}
        Root Mean Squared Error = {np.sqrt(mean_squared_error(y_pred, Ytest))},
        R2 score = {r2_score(y_pred, Ytest)}"""
)

Mean Absolute Error = 0.1255402909408109,
        Mean Squared Error = 0.023804158383453827
        Root Mean Squared Error = 0.15428596301496073,
        R2 score = 0.9995144912440943

In [112]:
pip install streamlit

In [107]:
# import streamlit as st
# import numpy as np
# import pickle as pkl

In [108]:
# pkl.dump(randomforest, open("C:\\Users\\user\\OneDrive - Ashesi University\\intro to ai\\data" + randomforest.__class__.__name__ + '.pkl', 'wb'))

In [110]:
# #function to predict the player rating using the best model
# def predict_rating(data):
#      predict = best_model.predict([data])
#      return predict[0]

# #streamlit app operations
# st.title("Prediction of the Overall Rating of Players")

# #defining the top features
# top_features = ['overall', 'movement_reactions', 'mentality_composure', 'potential', 'release_clause_eur', 'wage_eur', 'value_eur', 'power_shot_power', 'passing', 'mentality_vision']

# #taking new input from user
# player_features = []
# for f in top_features:
#     value = st.number_input(f"Kindly enter a value for {f}:", min_value = 0.0, step = 0.1)
#     player_features.append(value)

# if st.button("Predict Player Rating"):
#     player_rating = predict_rating(player_features)
#     st.write(f"The predicted rating of the player is: {player_rating:.4f}")